.container {
  background-color: hsl(248, 10%, 15%);
  color: #a4ffaf;
  padding: 12px 15px;
  font-size: larger;

  & input {
    background-color: hsl(248, 10%, 15%);
    border: none;
    color: white;
    width: 90%;
  }
}

.copy {
  background-color: transparent;
  border: none;
  color: #a4ffaf;

  &:hover {
    color: white;
    cursor: pointer;
  }
}
